extends ../layouts/common
block content
	div(class="container text-center")
		h1 View user
		hr
		h3 
			b(class="mr-4") Name -
			span= user.name
		h3 
			b(class="mr-4") Phone Number -
			span= user.phone
		